In [3]:
import urllib
import requests
import os
from pathlib import Path
from bs4 import BeautifulSoup

In [2]:
def obtem_dados_censo(
    url: str = "https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/censo-escolar",
) -> Path:
    """
    Realiza o download dos dados do censo escolar
    
    :param url: endereço do site do INEP com dados do censo
    :return: caminho para os dados de saída
    """
    html = urllib.request.urlopen(url).read()
    soup = BeautifulSoup(html, features="html.parser")
    
    links = {tag["href"].split("_")[-1]: tag["href"] for tag in soup.find_all("a", {"class": "external-link"})}
    
    caminho_saida = Path("../dados/censo_escolar")
    caminho_saida.mkdir(parents=True, exist_ok=True)
    
    for dado in links:
        r = requests.get(links[dado], stream=True)
        with open(caminho_saida / dado, "wb") as arq:
            arq.write(r.content)

In [3]:
html = urllib.request.urlopen("https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/censo-escolar").read()

In [8]:
soup = BeautifulSoup(html, features="html.parser")

In [20]:
links = {tag["href"].split("_")[-1]: tag["href"] for tag in soup.find_all("a", {"class": "external-link"})}

In [27]:
caminho_saida = Path("../dados/censo_escolar")
caminho_saida.mkdir(parents=True, exist_ok=True)

In [33]:
r = requests.get(links["1995.zip"], stream=True)
with open(caminho_saida / "1995.zip", "wb") as arq:
    arq.write(r.content)

In [4]:
os.chdir("..")

In [7]:
%load_ext autoreload
%autoreload 2

import src.aquisicao.inep.base_inep as etl_base_inep

In [15]:
inep_etl = etl_base_inep.BaseINEPETL("dados/censo_escolar", "saida/aquisicao", "censo-escolar")

In [18]:
import pandas as pd

In [22]:
dados = pd.read_csv("dados/censo_escolar/escolas.CSV", encoding="latin-1", sep="|")

C:\ProgramData\Anaconda3\envs\curso-ciencia-dados\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [24]:
dados.shape

(224229, 238)

In [25]:
dados.head()

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_INTEGR,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF
0,2020,11000023,EEEE ABNAEL MACHADO DE LIMA - CENE,00009,1,06/02/2020,15/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020,11000040,EMEIEF PEQUENOS TALENTOS,00009,1,06/02/2020,23/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020,11000058,CENTRO DE ENSINO CLASSE A,00009,1,03/02/2020,11/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020,11000082,CENTRO EDUCACIONAL PRESBITERIANO 15 DE NOVEMBRO,00009,1,03/02/2020,04/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020,11000104,CENTRO EDUC CORA CORALINA,00009,1,03/02/2020,15/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
dados.tail()

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_INTEGR,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF
224224,2020,53084071,ESC DIVINO MESTRE,99.0,2,NaN,NaN,5,5301,53001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224225,2020,53085000,COBIAN - COL BIANGULO,99.0,1,27/01/2020,23/12/2020,5,5301,53001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224226,2020,53086007,CED VITORIA REGIA,99.0,1,27/01/2020,18/12/2020,5,5301,53001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224227,2020,53087003,CED SANTOS DUMONT - CESAN,99.0,2,NaN,NaN,5,5301,53001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224228,2020,53088034,OBRA SOCIAL NOSSA SENHORA DE FATIMA,99.0,2,NaN,NaN,5,5301,53001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN