In [3]:
import urllib
import requests
import os
from pathlib import Path
from bs4 import BeautifulSoup

In [2]:
def obtem_dados_censo(
    url: str = "https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/censo-escolar",
) -> Path:
    """
    Realiza o download dos dados do censo escolar
    
    :param url: endereço do site do INEP com dados do censo
    :return: caminho para os dados de saída
    """
    html = urllib.request.urlopen(url).read()
    soup = BeautifulSoup(html, features="html.parser")
    
    links = {tag["href"].split("_")[-1]: tag["href"] for tag in soup.find_all("a", {"class": "external-link"})}
    
    caminho_saida = Path("../dados/censo_escolar")
    caminho_saida.mkdir(parents=True, exist_ok=True)
    
    for dado in links:
        r = requests.get(links[dado], stream=True)
        with open(caminho_saida / dado, "wb") as arq:
            arq.write(r.content)

In [3]:
html = urllib.request.urlopen("https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/censo-escolar").read()

In [8]:
soup = BeautifulSoup(html, features="html.parser")

In [20]:
links = {tag["href"].split("_")[-1]: tag["href"] for tag in soup.find_all("a", {"class": "external-link"})}

In [27]:
caminho_saida = Path("../dados/censo_escolar")
caminho_saida.mkdir(parents=True, exist_ok=True)

In [33]:
r = requests.get(links["1995.zip"], stream=True)
with open(caminho_saida / "1995.zip", "wb") as arq:
    arq.write(r.content)

In [4]:
os.chdir("..")

In [7]:
%load_ext autoreload
%autoreload 2

import src.aquisicao.inep.base_inep as etl_base_inep

In [15]:
inep_etl = etl_base_inep.BaseINEPETL("dados/censo_escolar", "saida/aquisicao", "censo-escolar")

In [18]:
import pandas as pd

In [22]:
dados = pd.read_csv("dados/censo_escolar/escolas.CSV", encoding="latin-1", sep="|")

C:\ProgramData\Anaconda3\envs\curso-ciencia-dados\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [31]:
import zipfile

In [24]:
dados.shape

(224229, 238)

In [28]:
dados.head(10)

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_INTEGR,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF
0,2020,11000023,EEEE ABNAEL MACHADO DE LIMA - CENE,00009,1,06/02/2020,15/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020,11000040,EMEIEF PEQUENOS TALENTOS,00009,1,06/02/2020,23/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020,11000058,CENTRO DE ENSINO CLASSE A,00009,1,03/02/2020,11/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020,11000082,CENTRO EDUCACIONAL PRESBITERIANO 15 DE NOVEMBRO,00009,1,03/02/2020,04/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020,11000104,CENTRO EDUC CORA CORALINA,00009,1,03/02/2020,15/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2020,11000171,CENTRO EDUCACIONAL MOJUCA,00009,1,04/02/2020,29/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2020,11000180,INTERACAO - CURSOS E COLEGIO,00009,2,NaN,NaN,1,1101,11001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2020,11000198,COLEGIO SAPIENS - UNIDADE JARDIM DAS MANGUEIRAS,00009,1,03/02/2020,17/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2020,11000201,EMEF PROF HERBERT DE ALENCAR,00009,1,06/02/2020,31/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2020,11000244,COLEGIO DOM BOSCO,00009,1,10/02/2020,20/12/2020,1,1101,11001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
dados.tail(10)

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_INTEGR,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF
224219,2020,53084012,CE SITIO ENCANTADO,99.0,1,27/01/2020,04/12/2020,5,5301,53001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224220,2020,53084020,ESC PEQUENO ENCANTO,99.0,1,28/01/2020,11/12/2020,5,5301,53001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224221,2020,53084039,COL ANCHIETA,99.0,1,27/01/2020,21/12/2020,5,5301,53001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224222,2020,53084055,COL MAPA,99.0,1,03/02/2020,05/12/2020,5,5301,53001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224223,2020,53084063,CE UNIVERSO DA CRIANCA,99.0,2,NaN,NaN,5,5301,53001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224224,2020,53084071,ESC DIVINO MESTRE,99.0,2,NaN,NaN,5,5301,53001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224225,2020,53085000,COBIAN - COL BIANGULO,99.0,1,27/01/2020,23/12/2020,5,5301,53001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224226,2020,53086007,CED VITORIA REGIA,99.0,1,27/01/2020,18/12/2020,5,5301,53001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224227,2020,53087003,CED SANTOS DUMONT - CESAN,99.0,2,NaN,NaN,5,5301,53001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224228,2020,53088034,OBRA SOCIAL NOSSA SENHORA DE FATIMA,99.0,2,NaN,NaN,5,5301,53001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
dados.sample(5)

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_INTEGR,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF
35214,2020,21208263,EM REAL BRASIL,7.0,1,10/02/2020,22/12/2020,2,2102,21008,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73639,2020,26090511,ESCOLA MIN CEL ANTONIO FRANCISCO,5.0,1,05/02/2020,21/12/2020,2,2604,26013,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112338,2020,31066346,EM MARIA LEITE RODRIGUES,9.0,2,NaN,NaN,3,3102,31003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30373,2020,21086214,UE JOSE HERMOGENES,8.0,1,17/02/2020,30/12/2020,2,2101,21005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193219,2020,41389344,JOAO PAULO II C E EF M,12.0,1,03/02/2020,19/12/2020,4,4107,41026,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224229 entries, 0 to 224228
Columns: 238 entries, NU_ANO_CENSO to IN_ESP_EXCLUSIVA_PROF
dtypes: float64(223), int64(11), object(4)
memory usage: 407.2+ MB

In [32]:
arq_zip = zipfile.ZipFile("dados/censo_escolar/2020.zip")

In [38]:
buffer = arq_zip.open("microdados_educacao_basica_2020/DADOS/escolas.CSV")

In [39]:
dados = pd.read_csv(buffer, encoding="latin-1", sep="|")

C:\ProgramData\Anaconda3\envs\curso-ciencia-dados\lib\site-packages\IPython\core\interactiveshell.py:3417: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [42]:
[arq for arq in arq_zip.namelist() if "escolas.CSV" in arq][0]

'microdados_educacao_basica_2020/DADOS/escolas.CSV'